interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?key=DUMMY&maxResults=1&part=snippet&q=GoogleDevelopers&type=channel
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"QyPUzqg4XU41xdxO2itJQ9XCfWQ\",\n
        \ \"nextPageToken\": \"CAEQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 1095,\n    \"resultsPerPage\": 1\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"_CGH5Gg59UefNhvz4ziqTKsTgL4\",\n
        \     \"id\": {\n        \"kind\": \"youtube#channel\",\n        \"channelId\":
        \"UC_x5XG1OV2P6uZZ5FSM9Ttw\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2007-08-23T00:34:43Z\",\n        \"channelId\": \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n
        \       \"title\": \"Google for Developers\",\n        \"description\": \"Subscribe
        to join a community of creative developers and learn the latest in Google
        technology \u2014 from AI and cloud, to mobile ...\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://yt3.ggpht.com/2eI1TjX447QZFDe6R32K0V2mjbVMKT5mIfQR-wK5bAsxttS_7qzUDS1ojoSKeSP0NuWd6sl7qQ=s88-c-k-c0xffffffff-no-rj-mo\"\n
        \         },\n          \"medium\": {\n            \"url\": \"https://yt3.ggpht.com/2eI1TjX447QZFDe6R32K0V2mjbVMKT5mIfQR-wK5bAsxttS_7qzUDS1ojoSKeSP0NuWd6sl7qQ=s240-c-k-c0xffffffff-no-rj-mo\"\n
        \         },\n          \"high\": {\n            \"url\": \"https://yt3.ggpht.com/2eI1TjX447QZFDe6R32K0V2mjbVMKT5mIfQR-wK5bAsxttS_7qzUDS1ojoSKeSP0NuWd6sl7qQ=s800-c-k-c0xffffffff-no-rj-mo\"\n
        \         }\n        },\n        \"channelTitle\": \"Google for Developers\",\n
        \       \"liveBroadcastContent\": \"none\",\n        \"publishTime\": \"2007-08-23T00:34:43Z\"\n
        \     }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC_x5XG1OV2P6uZZ5FSM9Ttw&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"h612UhyviV63eK7y4HMgXE59VnY\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\": 5\n  },\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#channel\",\n      \"etag\":
        \"tjfVDNBL4GkV4fzZBO9NE36KY5o\",\n      \"id\": \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n
        \     \"contentDetails\": {\n        \"relatedPlaylists\": {\n          \"likes\":
        \"\",\n          \"uploads\": \"UU_x5XG1OV2P6uZZ5FSM9Ttw\"\n        }\n      }\n
        \   }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=DUMMY&maxResults=50&part=snippet%2CcontentDetails&playlistId=UU_x5XG1OV2P6uZZ5FSM9Ttw
  response:
    body:
      string: "{\n  \"kind\": \"youtube#playlistItemListResponse\",\n  \"etag\": \"v_8m7w0VXFXRj0Y0RbTUeWP3Dy8\",\n
        \ \"nextPageToken\": \"EAAaHlBUOkNESWlFREl3UlROQ1JqUTNRVE15TVRCQk9EYw\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#playlistItem\",\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=IYpt25GHB1U&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"x1rCqKnC7Zd88PB0qFaREQnOxzo\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"E2oH0g2GHogASWChIfWiCOY2uMU\",\n      \"id\": \"IYpt25GHB1U\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT9M3S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=H3AVJ6HtNOE&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"DEzvrt4E9AU_Fm8LhcV6NB_VYN0\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"4BkM1rl0Ic0wYD_yD2Aej7W0GNE\",\n      \"id\": \"H3AVJ6HtNOE\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT40S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
