interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/channels?id=Bad_Channel_Id&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"RuuXzTIr0OoDqI4S0RU6n4FqKEM\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 0,\n    \"resultsPerPage\": 5\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
