interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?key=DUMMY&maxResults=1&part=snippet&q=GoogleDevelopers&type=channel
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"e0kBqGdHuHtsPJiJqwDtjF1br7g\",\n
        \ \"nextPageToken\": \"CAEQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\":
        {\n    \"totalResults\": 925,\n    \"resultsPerPage\": 1\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"adX3x-95rpAzqh4XrzfYpafZkK4\",\n
        \     \"id\": {\n        \"kind\": \"youtube#channel\",\n        \"channelId\":
        \"UC_x5XG1OV2P6uZZ5FSM9Ttw\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2007-08-23T00:34:43Z\",\n        \"channelId\": \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n
        \       \"title\": \"Google for Developers\",\n        \"description\": \"Subscribe
        to join a community of creative developers and learn the latest in Google
        technology \u2014 from AI and cloud, to mobile ...\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://yt3.ggpht.com/2eI1TjX447QZFDe6R32K0V2mjbVMKT5mIfQR-wK5bAsxttS_7qzUDS1ojoSKeSP0NuWd6sl7qQ=s88-c-k-c0xffffffff-no-rj-mo\"\n
        \         },\n          \"medium\": {\n            \"url\": \"https://yt3.ggpht.com/2eI1TjX447QZFDe6R32K0V2mjbVMKT5mIfQR-wK5bAsxttS_7qzUDS1ojoSKeSP0NuWd6sl7qQ=s240-c-k-c0xffffffff-no-rj-mo\"\n
        \         },\n          \"high\": {\n            \"url\": \"https://yt3.ggpht.com/2eI1TjX447QZFDe6R32K0V2mjbVMKT5mIfQR-wK5bAsxttS_7qzUDS1ojoSKeSP0NuWd6sl7qQ=s800-c-k-c0xffffffff-no-rj-mo\"\n
        \         }\n        },\n        \"channelTitle\": \"Google for Developers\",\n
        \       \"liveBroadcastContent\": \"none\",\n        \"publishTime\": \"2007-08-23T00:34:43Z\"\n
        \     }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC_x5XG1OV2P6uZZ5FSM9Ttw&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"h612UhyviV63eK7y4HMgXE59VnY\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\": 5\n  },\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#channel\",\n      \"etag\":
        \"tjfVDNBL4GkV4fzZBO9NE36KY5o\",\n      \"id\": \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n
        \     \"contentDetails\": {\n        \"relatedPlaylists\": {\n          \"likes\":
        \"\",\n          \"uploads\": \"UU_x5XG1OV2P6uZZ5FSM9Ttw\"\n        }\n      }\n
        \   }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=DUMMY&maxResults=50&part=snippet%2CcontentDetails&playlistId=UU_x5XG1OV2P6uZZ5FSM9Ttw
  response:
    body:
      string: "{\n  \"kind\": \"youtube#playlistItemListResponse\",\n  \"etag\": \"PQUZb07aRiwrEh-gfz2deIGvJVs\",\n
        \ \"nextPageToken\": \"EAAaHlBUOkNESWlFRGMyTUVNNU5EQkNSVGt3TmtFMU5qSQ\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#playlistItem\",\n      \"etag\":
        \"sgamBaiMQLDrSdSORJLohnHD_Lc\",\n      \"id\": \"VVVfeDVYRzFPVjJQNnVaWjVGU005VHR3LmEzNEphd19mckRj\",\n
        \     \"snippet\": {\n        \"publishedAt\": \"2025-08-22T04:00:01Z\",\n
        \       \"channelId\": \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n        \"title\": \"Solving
        problems with code\",\n        \"description\": \"What's the best thing about
        coding? Meghan, a Developer Relations Engineer, shares what she loves about
        coding, from solving roommate rent splits to tackling complex business problems.
        Discover how coding can be both a practical tool and a source of endless possibilities!\\n\\n\\nSubscribe
        to Google for Developers \u2192 https://goo.gle/developers \\n\\nSpeaker:
        Meghan Mehta\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/a34Jaw_frDc/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/a34Jaw_frDc/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/a34Jaw_frDc/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/a34Jaw_frDc/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/a34Jaw_frDc/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Google for Developers\",\n        \"playlistId\":
        \"UU_x5XG1OV2P6uZZ5FSM9Ttw\",\n        \"position\": 0,\n        \"resourceId\":
        {\n          \"kind\": \"youtube#video\",\n          \"videoId\": \"a34Jaw_frDc\"\n
        \       },\n        \"videoOwnerChannelTitle\": \"Google for Developers\",\n
        \       \"videoOwnerChannelId\": \"UC_x5XG1OV2P6uZZ5FSM9Ttw\"\n      },\n
        \     \"contentDetails\": {\n        \"videoId\": \"a34Jaw_frDc\",\n        \"videoPublishedAt\":
        \"2025-08-22T04:00:01Z\"\n      }\n    },\n    {\n      \"kind\": \"youtube#playlistItem\",\n
        \     \"etag\": \"v_eECHIH9Sdnzq1Lio-Vxf3fJYc\",\n      \"id\": \"VVVfeDVYRzFPVjJQNnVaWjVGU005VHR3Llc3Wnp1aVgzQ2M0\",\n
        \     \"snippet\": {\n        \"publishedAt\": \"2025-08-21T16:00:51Z\",\n
        \       \"channelId\": \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n        \"title\": \"Kaggle
        Game Arena, AI tools in Firebase Studio, and more! - Google Developer News
        August 2025\",\n        \"description\": \"Google Developer News has the latest
        developer updates for Google developers for August 2025. From covering the
        Kaggle Game Arena with Google DeepMind to exploring the newest AI-enhanced
        tools in Firebase Studio, this episode will help you deploy faster builds
        with AI, while watching leading AI models battle it out in head-to-head competition.
        \\n\\nResources: \\nResources: \\nKaggle Game Arena \u2192 https://goo.gle/41hw3RC\\nAdvancing
        agentic AI development with Firebase Studio\u2192https://goo.gle/3Hyl2ET\\n
        Dart \u2192 https://goo.gle/4mTBdvd \\nFlutter \u2192https://goo.gle/3JkrGiC
        \\n\\nChapters:\\n0:00 - Introduction \\n0:11 - Kaggle Game Arena: Testing
        the limits of AI reasoning with Google DeepMind\\n0:45 - Gemini & Firebase
        Studio: New AI-powered workflows\\n1:01 - Foundational support for model context
        protocol\\n1:10 - Gemini CLI integration with Firebase Studio\\n1:18 - AI
        Optimized templates: faster app building\\n1:31 - Firebase backend integration
        with Gemini\\n1:38 - Safety net experimentation with Workspace forking\\n1:51
        - Collaborative features in Firebase Studio\\n2:00 - Enhancing prompts with
        Gemini\\n2:11 - Dart 3.9 & Flutter 3.35: performance & visualization updates\\n2:31
        - Dart and Flutter MCP server.\\n\\nWatch more Google Developer News \u2192
        https://goo.gle/4e8Rysd  \\nSubscribe to Google for Developers \u2192 https://goo.gle/developers
        \\n\\n#GoogleDeveloperNews \\n\\nSpeaker: Ethan Hsu\\nProducts Mentioned:
        Google AI, Gemma,  Generative AI,  Gemini 1.5 Flash,  Colab,\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/W7ZzuiX3Cc4/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=a34Jaw_frDc&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"yyFKCtlvut-5TNjXVnjGTeR4p5c\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"FOM5z2754rM6NmxZEe6kLQpWb80\",\n      \"id\": \"a34Jaw_frDc\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT42S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=W7ZzuiX3Cc4&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"urtTso2vXmHIZoFUO2wx9QbVd1I\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"5_ITU18ZHxttE5vyRfDAMvp19kE\",\n      \"id\": \"W7ZzuiX3Cc4\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT2M53S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=fXaeutEgjw4&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"XkRZFL7TtC7qxC5CKE6xjVTya2M\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"YZZSAuaqX7HkBLa_s58-yc4vYw0\",\n      \"id\": \"fXaeutEgjw4\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT10S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=8DhhZ8I2NAI&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"aT9Y4pU2pLJ7VYN56KIUjQJ0Mwo\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"PPchtFe1BxdkhYSZ1rllN75RQqU\",\n      \"id\": \"8DhhZ8I2NAI\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT12S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=t0MraF45AOY&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"zUX5ekHivKStGetM_t00UzmbkgE\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"dr0WE55RPF6s_JuZwKvQdD5cJjk\",\n      \"id\": \"t0MraF45AOY\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT1M16S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=9W3CVUTuQew&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"3mdlUUkUlyr-KhDjqHsxtLZqqms\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"zlvP7UbfmeAbzV0m3xL-mPIZDrk\",\n      \"id\": \"9W3CVUTuQew\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT25S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"false\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=vCxHCDbOS9A&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"K22dWJmXqgLrS0TTRfwv0RJLbhE\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"9tHYgMEOeQG-s8X1g0u8jmv1ypk\",\n      \"id\": \"vCxHCDbOS9A\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT10S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=E0hrcDO3Noc&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"M7DbGTTZIXVd3OpQ1mh44HYc6fM\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"ZawPEqqe_KiVRnGTfCvtj8D8de0\",\n      \"id\": \"E0hrcDO3Noc\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT2M4S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=iP2lm2wdlQg&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"KzahwTzYvffpRKxJXE5_oc402dI\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"UeG8zAgYS4xO1K7N8Pa19bai-VY\",\n      \"id\": \"iP2lm2wdlQg\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT19S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=2U89cLw4u-A&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"Dks8EeSe4ofAVnvaiTH2ijCdmS0\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"rtQ7C2VoUXR7LC2KcJRRaPyEV_Y\",\n      \"id\": \"2U89cLw4u-A\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT58S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=Pofx_TKEce0&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"2qooJq9-3dpn7RG_Y5gnZodCJlk\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"6xvr5HWfxp2JEY9o7vptPs7eEoM\",\n      \"id\": \"Pofx_TKEce0\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT1M52S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=yZR3isciWd8&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"2JYe2DESYtABfKKm59ZOOS5e0QU\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"wmt2Rc-L4Dk2qUA9nzSVCOUiYcI\",\n      \"id\": \"yZR3isciWd8\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT5M56S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=njDochQ2zHs&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"YDo3pacNDrXynwyJi10xsr1HS70\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"TG_t41NNri7V_2C1ODwBCCTlFiU\",\n      \"id\": \"njDochQ2zHs\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT31M10S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=7-p_5GVi2PU&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"uMcuBQr9kTvCmFejQTjZLtvdGvs\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"F_GVZ4rVFDJpR5zIYsvFis8_SEs\",\n      \"id\": \"7-p_5GVi2PU\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT45S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=hwLgGcwUTk8&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"33a317KU78Gb5w_Lc503yYG8ZWI\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"mJajYj3SEsbNVYIwfm70GMLThmE\",\n      \"id\": \"hwLgGcwUTk8\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT55S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=YmzHUQRPg0k&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"6lKdLgqdTfvlN9K7eFeOidogjhQ\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"dVe1giSWGNbu4CcZ82-xbY1iwAA\",\n      \"id\": \"YmzHUQRPg0k\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT54S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=-miCU6FGfMg&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"m0OaEqtzuZa47xc4LnK6YOjEO0w\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"GHbMWQEBVDEhGs9GeVY1NrwtF-4\",\n      \"id\": \"-miCU6FGfMg\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT1M17S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=AVuFNjyU4Pc&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"hlpgLa9wDBLxVyiQ_4wYUZkyQ8g\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"2wiX9nnaq9VCYkkuPHvUVyLn7TI\",\n      \"id\": \"AVuFNjyU4Pc\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT5S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=n_fb2t8QLAs&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"mAUXNOZKKL_Jye1RelFp6gYhmbQ\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"SIQHONYoCrNCOaJ4a69RLPj3vLA\",\n      \"id\": \"n_fb2t8QLAs\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT1M14S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?id=4xlwlU6h-wM&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"Of4ETCoi8Aff5iK95PPWBVvU8Sk\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"_nxS_FjMLDktpxjAawn1PSe1SZI\",\n      \"id\": \"4xlwlU6h-wM\",\n      \"contentDetails\":
        {\n        \"duration\": \"PT40M14S\",\n        \"dimension\": \"2d\",\n        \"definition\":
        \"hd\",\n        \"caption\": \"true\",\n        \"licensedContent\": false,\n
        \       \"contentRating\": {},\n        \"projection\": \"rectangular\"\n
        \     }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\":
        1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
