interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?key=DUMMY&maxResults=1&part=snippet&type=channel
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"UBAOiXjvY0CZ7Ub9tJDO9bUtsU8\",\n
        \ \"regionCode\": \"US\",\n  \"pageInfo\": {\n    \"totalResults\": 0,\n    \"resultsPerPage\":
        0\n  },\n  \"items\": []\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
