interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC_x5XG1OV2P6uZZ5FSM9Ttw&key=DUMMY&part=contentDetails
  response:
    body:
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"h612UhyviV63eK7y4HMgXE59VnY\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\": 5\n  },\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#channel\",\n      \"etag\":
        \"tjfVDNBL4GkV4fzZBO9NE36KY5o\",\n      \"id\": \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n
        \     \"contentDetails\": {\n        \"relatedPlaylists\": {\n          \"likes\":
        \"\",\n          \"uploads\": \"UU_x5XG1OV2P6uZZ5FSM9Ttw\"\n        }\n      }\n
        \   }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
